:root {
    --red: #77160c;
    --black: #191919;
    --white: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    user-select: none;
    font-size: 5em;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    
}

main > nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

main > nav > ul {
    display: flex;
    list-style: none;
    flex-direction: column;
}

ul > li {
    
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}