* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    position: relative;
    border: 1px; border-style: solid; 
    border-collapse:collapse;
    height: 100vh;
}

header {
    display: flex; justify-content: stretch; padding: 3px; user-select: none;
}

main { 
    padding-top: 3px;
    height: calc(100% - 24px - 23px);
}

.arquivo {user-select:text;}

.menu__ferramenta {
    padding: 5px; padding-bottom: 0; 
    user-select: none; position: relative;
}

.menu__modalbox {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1;
    left: 0px;
    width: 200px;
    height: fit-content;
    padding: 0px;
    
    list-style: none;
}

.menu__modalbox__ferramenta {
    display: flex;
    flex-grow: 1;
    vertical-align: middle;
    padding: 5px;
    
}

.documento {display: block; flex-grow: 1; flex-direction: column; user-select: none; height: 100%;}
.documento__ferramentas {border: 0px; border-style: solid; border-bottom: 1px; padding: 5px;}
.documento__ferramenta {padding: 5px; }
.documento__aba {
    display: block; border: 0px; padding: 5px 5px 5px 15px; 
    width: fit-content; margin-left: 3px; border-top-left-radius: 5px; border-top-right-radius: 5px;
}
.documento__aba > button { width: 20px; height: 20px; margin: 0px 5px; background-color: unset; border: none; font-size: large; }
.documento__aba > button:hover { color:crimson; }

.documento__window {display: block; border: 0px; height: calc(100% - 56px);}
.documento__conteudo {display: grid; grid-template-columns: .695fr .305fr;  min-height: 100%; max-height: 100%; flex-direction: row; border-top: 0px;}
.documento__conteudo__ferramentas {
    display: block; padding: 10px; width: 100%; height:auto;
}

.documento__conteudo__ferramentas > span {
    display: flex;
    flex-grow: 1;
}

.documento__conteudo__ferramentas > span > select {
    display: flex;
    flex-grow: 1; 
}

.documento__conteudo__edicao {
    /* display: flex; 
    flex-grow: 1; */
    width: 100%;
    height: 83vh;
}

.documento__conteudo__edicao > canvas 
{
}

#tilesheets_box {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 79vh;
    flex-grow: 0;
    overflow: hidden;
    overflow-y: scroll;
}

#tilesheets_box > li {
    width: 50px;
    height: 50px;
}

#tilesheets_box > li > img {
    width: 100%;
    height: 100%;
    object-position: right;
    object-fit: contain;
}

td > div {
    display: block;
    position: relative;
    
    /*left: 0px; width: 50px; height: 50px;*/
    margin: 5px;
    padding: 5px;
    justify-content: center;
    
    /**/
}

td > div:hover {
    background-color: gray;
}

td > div > img { 
    display:flex;
    object-fit: contain;
    flex-shrink: 1;
    width: 50px;
    height: 50px;
    -webkit-mask-image: url(../images/iconpadrao.svg);
    mask-image: url(../images/iconpadrao.svg);
    -webkit-mask-origin: margin-box;
    mask-origin:margin-box;
    mask-size: cover;
    -webkit-mask-size:cover;
}

li > span > img {
    display: flex;
    margin-right: 5px;
    vertical-align: text-bottom;

    width: 15px;
    height: 15px;
}

.menu__windowbox {
    background-color: rgb(43, 43, 43, .5);
    display: block;
    position: absolute;
    justify-self: center;
    align-content: center;
    flex-direction: row;
    z-index: 2;
    left: 0px;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: 0px;
}

.menu__windowbox__child {
    
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin: auto;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-grow: 1;
    
}

.menu__windowbox__container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 40%;
    height: fit-content;
    text-align: center;
    justify-content: stretch;
    align-content: center;
    padding: 10px;
    border-radius: 15px;
}

.menu__windowbox__container button {
    display: block;
    align-self: flex-end;
    padding: 5px;
}

.menu__windowbox__container > div {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.menu__windowbox__container > div > form {
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.menu__windowbox__container > div > form > * {
    display: flex;
    height: fit-content;
    padding: 5px;
}

.menu__windowbox__container > div > form > span {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.formD {
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.formD > * {
    display: flex;
    height: fit-content;
    padding: 5px;
}

.formD > span {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.hidden {
    display: none;
}