:root {
    --maincolor1: #1a2d06;
    --maincolor2: #5a8a2b;
    --maincolor3: #2e613b;
    --maincolor4: #93b374;
    --maincolor5: #9dac8e;
    --maincolor6: #d0d8c7;
    --maincolor7: aliceblue;
    --white: white;
    --black: black;
}

header {background-color: var(--maincolor1); color: var(--white);}
.arquivo {color: var(--maincolor3)}
.menu {background-color: var(--maincolor2);}
/*.menu__ferramenta {}*/
.menu__ferramenta:hover {background-color: var(--maincolor3); color: var(--black); }
main { background-color: var(--maincolor4);}
.documento__aba {background-color: var(--maincolor6); border-style: solid;}
.documento__window {background-color: var(--maincolor6); border-style: solid;}
.documento__ferramenta {color:var(--black);}

.documento__ferramenta:hover {
    background-color:var(--maincolor5); 
    color: var(--white); 
    user-select: none;
}
.documento__ferramenta:active {
    background-color:var(--maincolor4); 
    color: var(--maincolor3); 
    user-select: none;
}

.documento__conteudo {background-color: var(--maincolor7);}
.documento__conteudo__ferramentas {background-color:var(--maincolor2)}
.documento__conteudo__edicao {background-color: var(--maincolor5); overflow: scroll;}
.menu__modalbox {
    background-color: var(--maincolor2);
}
.menu__modalbox__ferramenta
{
    color:var(--white);
}
.menu__modalbox__ferramenta:hover 
{
    background-color: var(--maincolor3); 
    color:var(--white);
}

.menu__modalbox__ferramenta:left 
{
    background-color: var(--maincolor3); 
    color:var(--white);
}

td > div {

}
td > div > img { 

}

.menu__windowbox__container
{
    background-color: var(--white);
}

.menu__windowbox__container > div > div, form {
    background-color: var(--maincolor4);
}

#tilesheets_box > li {
    background-color: var(--maincolor6);
    
    margin: 2px;
}

#tilesheets_box > li:hover {
    border: 2px solid;
    border-color: var(--maincolor5);
}

#tilesheets_box > li:active {
    border: 5px solid;
    border-color: var(--maincolor4);
}

.selected {
    border: 3px solid;
    border-color: var(--maincolor3);
}